{% extends 'layout.html' %}
{% block content %}

<div class="text-center py-5 px-5 mx-5 my-5">

  <main class="form-signin">
    <form action='' method="POST">
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
      <h3 class="h3 mb-3 fw-normal">{{message}}</h1>
        <div class="form-floating">
          <input type="text" name="name" class="form-control" id="floatingInput" required>
          <label for="floatingInput">User name</label>
        </div>
        <p></p>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword" required>
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input type="password" name="passwordRetype" class="form-control" id="floatingPassword" required>
          <label for="floatingPassword">Retype password</label>
        </div>
        <p class="py-2"></p>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022 osawa</p>
    </form>
  </main>

</div>


{% endblock %}